body{
	/*background-image: url('imagen/fondo2.jpg');*/
	margin: 0;
	font-family: "MS Trebuchet", Verdana, Geneva, Arial, Helvetica, sans-serif;	
	font-size: 75%;
	line-height: 135%;
	background-color:  #FFC81C;
	text-align: center;
        height:100%; 
        
}

.pre{
    font-size: 50px;
        color: white;

}
#container{
 
	position: relative;
	 margin:0 auto;
	padding:0;
	width: 100%;
	border-bottom: 0;
	border-top: 0;
	margin: 0 auto;
	text-align: center;
	  
}

#pageHeader {
    //width: 100%;
         padding: 5px 0 63px 15px;
	background: url(../../imagen/general/topo.png);
       background-size: 100%, 0, 0, 0;
	background-repeat: no-repeat;
	height: 200px;
	color: #FFFFFF;
}

#pageHeader h1{
	width: 526px;
	height: 91px;
	margin-bottom: 0;
}
#pageHeader h1 span {
	display: block;
	width: 0;
	height: 0;
}

#pageHeader h2{
	width: 279px;
	height: 33px;
	margin-top: -22px;
	margin-bottom: 25px;
}

#pageHeader h2 span {
	display: block;
	width: 0;
	height: 0;
}

#preamble{
	margin-left: 220px;
	padding-right: 10px;
	font-size: 90%;
}

#supportingText{
	//margin-left: 150px;
	//padding-right: 100px;
	font-size: 90%;
}


#linkList {
	position: absolute;
	left: 12px;
	top: 323px;
	width: 178px;
	padding: 0 2px 0 0;
	font-size: 100%;
       font-weight: bold;
}
#menu{
	transition: all 0.3s ease;
	position: fixed;
	width: 0%;
	top: 0;
	left: -200px;
	background: rgb(0, 0, 0);
	height: 100%;
	z-index: 999;
	box-shadow: 0px 0px 10px black;
	background-color: #FF960C;
	
}

#menu a{
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border-radius: 100px;
	transition: all 0.2s ease;
}

#menu a:hover{
	background: rgb(50, 50, 50);
}

#menu-toggle{
	position: fixed;
	top: 20px;
	left: 0;
	background: rgb(0, 100, 100);
	z-index: 1000;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.3s ease;
}

#menu-toggle:hover{
	cursor: pointer;
}

#menu.open{
	left: 0;
	width: 200px;
	display: block;
}

#menu-toggle.open{
	left: 200px;
}